<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <% if(error === "invalid input"){ %>


    <div class="alert alert-danger mt-5" role="alert" style="width:75%">
      Your input headline was invalid!
    </div>

    <%} else { %> 
    <div class="container-xl border">
      <div class="col-8 p-4">
        <div name="resultDiv" class="card">
          <div class="card-header text-white bg-primary bg-gradient fw-bold">
            "<%=headline%>"
          </div>
          <div class="card-body bg-secondary bg-opacity-25">
            <p class="card-title fw-bold">BullShit Stats</p>
            <p class="card-text"><%= result %></p>
          </div>
        </div>
      </div>
  
      <div class="col-8 p-4">
        <div name="resultDiv" class="card">
          <div class="card-header text-white bg-primary bg-gradient fw-bold">
            "<%=headline%>"
          </div>
          <div class="card-body bg-secondary bg-opacity-25">
            <p class="card-title fw-bold">Results from Google API</p>
            <p class="card-text"><%= googleContent %></p>
            <p class="card-text">Click to see more</p>
            <p class="card-text">
            <% googleResults.forEach((ApiResult) => { %>
              <a
                href="<%=ApiResult.url%>"
                class="list-group-item list-group-item-action"
                target="_blank"
                >Headline: <%= ApiResult.title %></a
              >
            <p>Rating: <%= ApiResult.textualRating %></p>
              <% }); %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <% } %>

</body>
