<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css"
    rel="stylesheet"
  />
</head>
<body class="bg-light">
  <% if(error === "invalid input"){ %>

  <div class="container d-flex align-items-center justify-content-center">
    <div class="alert alert-danger mt-5 w-75 text-center" role="alert">
      Your input headline was invalid!
    </div>
  </div>

  <%} else { %>

  <div class="container-xl border rounded bg-white">
    <div class="col-12 p-4">
      <nav
        id="navbar-example2"
        class="navbar bg-light px-3 py-1 mb-3 justify-content-center"
      >
        <!-- <a class="navbar-brand" href="#">></a> -->
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeadingLocal">Bullshit check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeadingGoogle">Fact check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeadingEmotions">Emotions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeadingNegativity"
              >Negativity</a
            >
          </li>
        </ul>
      </nav>

      <div
        data-bs-spy="scroll"
        data-bs-target="#navbar-example2"
        data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true"
        class="scrollspy-example bg-light p-4 rounded-2"
        tabindex="0"
        style="height: 510px; overflow-y: scroll"
      >
        <div class="card mb-4">
          <div class="card-body bg-warning bg-opacity-25">
            <h5 class="card-title fw-bold">"<%=headline%>"</h5>
            <p class="card-text">See below for results.</p>
          </div>
        </div>

        <div name="resultDiv" class="card mb-4" id="scrollspyHeadingLocal">
          <div class="card-header text-white bg-primary bg-gradient fw-bold">
            Our local Bullshit check
          </div>
          <div class="card-body bg-secondary bg-opacity-25">
            <p class="card-title fw-bold">BullShit Stats</p>
            <p class="card-text"><%= result %></p>
          </div>
        </div>

        <div name="resultDiv" class="card mb-4" id="scrollspyHeadingGoogle">
          <div class="card-header text-white bg-secondary bg-gradient fw-bold">
            Google Fact Check
          </div>
          <div class="card-body bg-secondary bg-opacity-25">
            <p class="card-title fw-bold">
              Relevant articles from Google Fact Check
            </p>
            <p class="card-text"><%= googleContent %></p>
            <button
              class="btn bg-secondary mb-3 bg-opacity-100 text-white"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Details
            </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <% googleResults.forEach((ApiResult) => { %>
                <a
                  href="<%=ApiResult.url%>"
                  class="list-group-item list-group-item-action link-secondary"
                  target="_blank"
                  >Headline: <%= ApiResult.title %></a
                >
                <p>Rating: <%= ApiResult.textualRating %></p>
                <% }); %>
              </div>
            </div>
          </div>
        </div>

        <div name="resultDiv" class="card mb-4" id="scrollspyHeadingEmotions">
          <div class="card-header text-white bg-primary bg-gradient fw-bold">
            Emotional Analysis
          </div>
          <div class="card-body pb-0 bg-secondary bg-opacity-25">
            <p class="card-title fw-bold">Emotional Analysis</p>

            <% const max = Math.max(...Object.values(emotionObject).slice(0,
            -1)) %> <% const maxIndex = Object.keys(emotionObject).find(key =>
            emotionObject[key] === max) %> <% if (maxIndex === "noemo"){ %>
            <p class="card-text mb-0">
              We ran an emotional analysis check on this piece, and no strong
              emotion stood out in particular
            </p>
            <% }else{ %>
            <p class="card-text mb-0">
              We ran an emotional analysis check on this piece, and the most
              overarching emotion found was: <%=
              maxIndex.charAt(0).toUpperCase() + maxIndex.slice(1)%>
            </p>
            <%}%>

            <div class="container w-100">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6 w-50">
                  <canvas id="emotionChart"></canvas>
                </div>
                <div class="col-3"></div>
              </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
            <script>
              const labels = [
                "Anger",
                "Disgust",
                "Fear",
                "Joy",
                "Love",
                "No Emotion",
                "Sadness",
                "Surprise",
              ];

              const data = {
                labels: labels,
                datasets: [
                  {
                    label: "My First dataset",
                    backgroundColor: [
                      "rgba(244, 3, 3, 0.79)",
                      "rgba(96, 181, 4, 0.79)",
                      "rgba(80, 73, 64, 0.94)",
                      "rgba(49, 231, 212, 0.74)",
                      "rgba(231, 49, 208, 0.74)",
                      "rgba(109, 109, 109, 0.76)",
                      "rgba(45, 58, 178, 1)",
                      "rgba(213, 205, 40, 1)",
                    ],
                    data: <%- JSON.stringify(emotionalAnalysis)%>,
                    hoverOffset: 20,
                  },
                ],
              };

              const config = {
                type: "doughnut",
                data: data,
                options: {
                  layout: {
                    padding: {
                      left: 20,
                    }
                  },
                  plugins: {
                    datalabels: {
                      formatter: (value) => {
                        return value
                      }
                    },
                    responsive: true,
                    legend: {
                      position: 'right',
                      labels: {
                        fontColor: 'white'
                      }
                    }
                }
                }
              };
            </script>

            <script>
              const myChart = new Chart(
                document.getElementById("emotionChart"),
                config
              );
            </script>
          </div>
        </div>

        <div name="resultDiv" class="card" id="scrollspyHeadingNegativity">
          <div class="card-header text-white bg-primary bg-gradient fw-bold">
            Sentiment Checker
          </div>
          <div class="card-body bg-secondary bg-opacity-25">
            <p class="card-title fw-bold">Positive <--> Negative sentiment</p>
            <p class="card-text"><%=sentimentStatement%></p>

            <% if(sentimentResults < 0){ %>
            <p class="card-text"><%=sentimentResults * -1%>% Negative</p>
            <%} else { %>
            <p class="card-text"><%=sentimentResults%>% Positive</p>
            <% } %> <% if(sentimentResults >= 0){ %>
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                aria-valuenow="<%= sentimentResults%>"
                style="width: <%= sentimentResults%>%"
                aria-valuemin="0"
                aria-valuemax="1"
              ></div>
            </div>
            <%} else { %>
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                aria-valuenow="<%= sentimentResults * -1%>"
                style="width: <%= sentimentResults * -1%>%"
                aria-valuemin="0"
                aria-valuemax="1"
              ></div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"
  ></script>

  <% } %>
</body>
